footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color-b);
    padding: 32px 60px;
    border-top: 1px solid var(--secondary-color-w);
}

.footer-line-logo {
    display: none;
}

.footer-linkedin-logo {
    width: 35px;
    height: 35px;
}

@media (max-width: 768px) {
    footer {
        padding: 15px;
    }

    .footer-normal-logo {
        display: none;
    }

    .footer-line-logo {
        display: block;
    }

    .footer-linkedin-logo {
        width: 21px;
        height: 21px;
    }
}